@import "node_modules/highlight.js/styles/zenburn";

$gray-700: #495057;
$gray-800: #3c3c3b;

$blue: #1d71b8;

$font-family-sans-serif: "Roboto", sans-serif;
$font-size-base: 1.4rem;
$font-weight-base: 300;
$line-height-base: 1.7;

$border-radius: .75rem;
$border-radius-lg: 1rem;

$body-color: $gray-700;

$spacer: 1rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 952px,
  xl: 1160px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 920px,
  xl: 1100px
);

$navbar-nav-link-padding-x: $spacer;
$navbar-light-color: $gray-800;
$navbar-light-hover-color: lighten($navbar-light-color, 25%);

$btn-padding-y: 0.5rem;
$btn-padding-x: 1.6rem;

$btn-padding-y-lg: 0.8rem;
$btn-padding-x-lg: 1.9rem;

@import "node_modules/bootstrap/scss/bootstrap";

@mixin responsive-property($property, $xl-value) {
  @include media-breakpoint-up(xs) {
    #{$property}: $xl-value * 0.85;
  }
  @include media-breakpoint-up(sm) {
    #{$property}: $xl-value * 0.89;
  }
  @include media-breakpoint-up(md) {
    #{$property}: $xl-value * 0.93;
  }
  @include media-breakpoint-up(lg) {
    #{$property}: $xl-value * 0.97;
  }
  @include media-breakpoint-up(xl) {
    #{$property}: $xl-value;
  }
}

@mixin responsive-property-smaller($property, $xl-value) {
  @include media-breakpoint-up(xs) {
    #{$property}: $xl-value * 0.55;
  }
  @include media-breakpoint-up(sm) {
    #{$property}: $xl-value * 0.67;
  }
  @include media-breakpoint-up(md) {
    #{$property}: $xl-value * 0.79;
  }
  @include media-breakpoint-up(lg) {
    #{$property}: $xl-value * 0.91;
  }
  @include media-breakpoint-up(xl) {
    #{$property}: $xl-value;
  }
}

h1, h2, h3, h4, h5 {
  text-align: center;
  margin: 2rem 0 2rem 0;
}

h2 {
  margin-bottom: 4rem;
  padding-top: 7rem;
}

#welcome {
  background: #f5f8ff;
  height: 100vh;
  background-image: url("/images/welcome-background.svg");
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .welcome-row {
    display: flex;
    flex-direction: row;
    margin-top: 1em;

    @media (orientation: portrait) {
      flex-direction: column-reverse;
    }
  }

  .welcome-left {
    max-width: 580px;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    @media (orientation: portrait) {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .slogan {
      @include responsive-property-smaller(font-size, $font-size-base * 2.2);
      font-family: "Roboto Condensed", sans-serif;
      font-weight: 400;
      color: $gray-800;
      @include responsive-property(line-height, 1.5em);
      flex: 1;

      @media (orientation: landscape) {
        @include media-breakpoint-down(md) {
          margin-top: 3rem;
        }
      }
    }

    .buttons {
      .btn {
        font-size: $font-size-base;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 300;
        margin-top: 2rem;
      }
    }
  }

  .welcome-right {
    flex: 1;
    text-align: right;

    img {
      max-width: 90%;
    }

    @media (orientation: landscape) {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    @media (orientation: portrait) {
      text-align: center;

      img {
        max-width: 80%;
        margin: 4rem 0 2rem 0;
      }
    }
  }
}

.btn {
  .feather {
    margin-bottom: 4px;
  }
}

i.simple-icon {
  svg {
    fill: currentColor;
    width: 24px;
    margin: 0 4px 4px 0;
  }
}

.navbar-light {
  padding-top: 1.5em;

  .navbar-nav .nav-link {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
  }
}

.navbar-collapse.show, .navbar-collapse.collapsing {
  background-color: #fff;
  padding: 1em;
  border-radius: .25rem;
}

.navbar.headroom {
  will-change: transform, background-color;
  transition: transform 200ms linear,background-color 200ms linear 200ms,padding-top 100ms;
}
.navbar.headroom--top.not-collapse {
  transition: transform 200ms linear,background-color 200ms linear 0ms;
  background-color: $light !important;
}
.navbar.headroom--not-top, {
  background-color: $light !important;
  padding-top: .5em;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

code {
  font-size: .93em;
}

pre {
  border-radius: $border-radius;
  background: $gray-700;

  code {
    margin: $spacer $spacer * 1.5;
    display: block;
    color: $gray-100;
  }
}

.container-smaller {
  max-width: 900px;
}

.main-content p {
  text-align: justify;
}

.page-content {
  margin-top: 7rem;
}

#features {
  .col-md {
    font-size: $font-size-sm;
    text-align: justify;
    hyphens: auto;
  }

  h6 {
    text-align: left;
  }

  .feather {
    margin: 0 .5rem 3px 0;
    stroke: $primary;
  }
}

.download-btns {
  margin: 2rem 0 1rem 0;

  .btn {
    margin-bottom: 1rem;
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}

.research {
  .research-item {
    display: flex;
    flex-direction: row;
    padding: $spacer / 2 0;

    &:first-child {
      padding-top: 0;
    }

    @include media-breakpoint-up(md) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .research-image {
    min-width: 10%;
    max-width: 10%;
    margin-right: $spacer * 1.25;
    margin-top: 5px;
    margin-bottom: $spacer;
    display: none;

    img {
      border: 1px solid #eee;
    }

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .csl-bib-body {
    padding-bottom: $spacer;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    .bib-links {
      padding-top: $spacer / 2;
      display: block;
    }
  }
}

footer {
  margin-top: 4em;

  .footer-background {
    width: 100%;
    height: 1rem;
    background-color: $gray-700;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      width: 150%;
      height: 500%;
      position: absolute;
      border-radius: 50%;
      top: -400%;
      left: -25%;
      background-color: white;
    }
  }

  .footer-content {
    color: #fff;
    background-color: $gray-700;
    padding: 2em 0 6em 0;
    text-align: right;

    a {
      color: #fff;
    }

    @include media-breakpoint-down(sm) {
      text-align: center;

      .copyright {
        margin-top: 2rem;
      }
    }
  }
}
