@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: clamp(
    16px,
    calc(1rem + (20.5 - 16) * ((100vw - 480px) / (1200 - 480))),
    20.5px
  );
  min-height: 0vw;
}

:root {
  font-weight: 300;
  line-height: 1.7;
  color: theme(colors.text);
}

body {
  background-color: theme(colors.bg);
  @apply transition-colors;
  @apply duration-300;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

.lucide {
  display: inline-block;
}
