@import "../css/variables";

@keyframes show1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.docs {
  #table-of-contents {
    margin-bottom: 0;
  }

  .table-of-contents {
    ol {
      list-style-type: none;
      counter-reset: item;

      li:before {
        content: counters(item, ".") "\2002";
        counter-increment: item;
      }
    }

    & > ol:first-child {
      padding-left: 0;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    th, td {
      margin: 0;
      padding: $spacer / 2;
      text-align: left;
      border-bottom: 1px solid $gray-300;
      vertical-align: top;
    }

    th {
      border-bottom: 2px solid $gray-300;
    }

    td:first-child, td:nth-child(2):not(:last-child) {
      hyphens: none;
    }

    th, td:first-child {
      hyphens: none;
      white-space: nowrap;
    }

    td:first-child {
      font-weight: 700;

      em {
        font-weight: 300;
        color: $gray-600;
      }
    }

    td:last-child {
      text-align: justify;
    }

    td:first-child, th:first-child {
      padding-left: 0;
    }

    td:last-child, th:last-child {
      padding-right: 0;
    }

    @media (min-width: $sm) {
      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    @media (max-width: $sm) {
      th {
        display: none;
      }

      tr {
        display: flex;
        flex-direction: column;
      }

      td:last-child {
        border-bottom: none;
      }

      td:not(:first-child) {
        margin-left: $spacer;
      }
    }
  }

  .docs-image {
    display: block;
    margin: $spacer * 2 auto;
  }

  .docs-image-generate-process-chains, .docs-image-generate-process-chains-animated {
    width: 10rem;

    #docs-image-generate-process-chains-box1, #docs-image-generate-process-chains-box2,
    #docs-image-generate-process-chains-box3, #docs-image-generate-process-chains-box4 {
      opacity: 0;
      animation-duration: 5s;
      animation-iteration-count: infinite;
    }
  }

  .docs-image-generate-process-chains-animated {
    #docs-image-generate-process-chains-box1 {
      animation-name: show1;
    }
    #docs-image-generate-process-chains-box2, #docs-image-generate-process-chains-box3 {
      animation-name: show2;
    }
    #docs-image-generate-process-chains-box4 {
      animation-name: show3;
    }
  }

  .docs-image-architecture {
    width: 16rem;
  }
}
