#table-of-contents {
  margin-bottom: 0;
}

.table-of-contents {
  ol {
    list-style-type: none;
    counter-reset: item;

    li:before {
      content: counters(item, ".") "\2002";
      counter-increment: item;
    }
  }

  & > ol:first-child {
    padding-left: 0;
  }
}