@import "../css/variables";
@import "../css/mixins";

.download-btns {
  margin: 2rem 0 1rem 0;

  .btn {
    margin-bottom: 1rem;
    margin-right: .5rem;
    font-weight: 400;
  }

  @media (max-width: $md) {
    text-align: center;
  }
}
