@import "css/variables";

.feature {
  font-size: $font-size-sm;
  text-align: justify;
  hyphens: auto;

  .feature-icon :global(svg) {
    margin: 0 .5rem 4px 0;
    stroke: $primary;
  }

  h6 {
    font-size: $font-size-base;
    text-align: left;
    margin: .5rem 0;
  }

  :global(p) {
    margin: 0;
  }
}
