@import "../css/variables";

#features {
  h6 {
    font-size: $font-size-base;
    text-align: left;
    margin: .5rem 0;
  }

  p {
    margin: 0;
  }

  .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: $spacer * 2;

    @media (max-width: $md) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }
}
