@import "highlight.js/styles/zenburn";

@import "./variables";
@import "./mixins";

@import "bootstrap/scss/_root";
@import "bootstrap/scss/_reboot";
@import "bootstrap/scss/_type";
@import "bootstrap/scss/_images";
@import "bootstrap/scss/_code";
@import "bootstrap/scss/_grid";
// @import "bootstrap/scss/_tables";
// @import "bootstrap/scss/_forms";
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_transitions";
// @import "bootstrap/scss/_dropdown";
// @import "bootstrap/scss/_button-group";
// @import "bootstrap/scss/_input-group";
// @import "bootstrap/scss/_custom-forms";
@import "bootstrap/scss/_nav";
@import "bootstrap/scss/_navbar";
// @import "bootstrap/scss/_card";
// @import "bootstrap/scss/_breadcrumb";
// @import "bootstrap/scss/_pagination";
// @import "bootstrap/scss/_badge";
// @import "bootstrap/scss/_jumbotron";
// @import "bootstrap/scss/_alert";
// @import "bootstrap/scss/_progress";
// @import "bootstrap/scss/_media";
// @import "bootstrap/scss/_list-group";
// @import "bootstrap/scss/_close";
// @import "bootstrap/scss/_toasts";
// @import "bootstrap/scss/_modal";
// @import "bootstrap/scss/_tooltip";
// @import "bootstrap/scss/_popover";
// @import "bootstrap/scss/_carousel";
// @import "bootstrap/scss/_spinners";
@import "bootstrap/scss/_utilities";
@import "bootstrap/scss/_print";

h1, h2, h3, h4, h5 {
  margin: 2rem 0 2rem 0;
}

h2 {
  margin-bottom: 4rem;
  padding-top: 7rem;
  text-align: center;
}

.btn {
  .feather {
    margin-bottom: 4px;
  }

  .simple-icon {
    fill: currentColor;
    width: 24px;
    margin-bottom: 4px;
  }
}

.navbar-light {
  padding-top: 1.5em;

  .navbar-nav .nav-link {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
  }
}

.navbar-collapse.show, .navbar-collapse.collapsing {
  background-color: #fff;
  padding: 1em;
  border-radius: .25rem;
}

.navbar.headroom {
  will-change: transform, background-color;
  transition: transform 200ms linear,background-color 200ms linear 200ms,padding-top 100ms;
}
.navbar.headroom--top.headroom-not-collapse {
  transition: transform 200ms linear,background-color 200ms linear 0ms;
  background-color: $light !important;
}
.navbar.headroom--not-top, {
  background-color: $light !important;
  padding-top: .5em;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}

.container-smaller {
  max-width: 900px;
}

.main-content p {
  text-align: justify;
}

.page-content {
  margin-top: 7rem;
}

.hljs, pre {
  background: $gray-700;
  color: #fff;
}

pre {
  border-radius: $border-radius;

  code {
    margin: $spacer / 2 $spacer;
    display: block;
  }
}
