@keyframes show1 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show3 {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.image-generate-process-chains,
.image-generate-process-chains-animated {
  width: 7rem;

  :global(#docs-image-generate-process-chains-box1),
  :global(#docs-image-generate-process-chains-box2),
  :global(#docs-image-generate-process-chains-box3),
  :global(#docs-image-generate-process-chains-box4) {
    opacity: 0;
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
}

.image-generate-process-chains-animated {
  :global(#docs-image-generate-process-chains-box1) {
    animation-name: show1;
  }
  :global(#docs-image-generate-process-chains-box2),
  :global(#docs-image-generate-process-chains-box3) {
    animation-name: show2;
  }
  :global(#docs-image-generate-process-chains-box4) {
    animation-name: show3;
  }
}
