<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="author" content="Michel Krämer">
<meta name="description" content="Scientific Workflows in the Cloud">
<meta name="robots" content="index,follow">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
<script src="https://unpkg.com/feather-icons"></script>

<link rel="stylesheet" href="/css/index.css">

<title>Steep Workflow Management System</title>

</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="main-navbar">
<div class="container">
  <a class="navbar-brand" href="/"><img src="/images/steep-logo.svg" width="200"></a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#download-and-get-started">Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#documentation">Docs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/steep-wms/steep"><i data-feather="github"></i></a>
      </li>
    </ul>
  </div>
</div>
</nav>
