<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="author" content="Michel Krämer">
<meta name="description" content="Scientific Workflows in the Cloud">
<meta name="robots" content="index,follow">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
<script src="https://unpkg.com/feather-icons"></script>

<link rel="stylesheet" href="css/index.css">

<title>Steep Workflow Management System</title>

</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="main-navbar">
<div class="container">
  <a class="navbar-brand" href="/"><img src="/images/steep-logo.svg" width="200"></a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#get-started">Get started</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#download">Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-us">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/steep-wms/steep"><i data-feather="github"></i></a>
      </li>
    </ul>
  </div>
</div>
</nav>

<div id="welcome">
  <div class="container">
    <div class="welcome-row">
      <div class="welcome-left">
        <div class="slogan">Steep is a Scientific Workflow Management System made for the Cloud</div>
        <div class="buttons">
          <a href="#get-started"><button type="button" class="btn btn-primary btn-lg">Get started ...</button></a>
        </div>
      </div>
      <div class="welcome-right">
        <img src="/images/workflow.svg">
      </div>
    </div>
  </div>
</div>

<div id="features" class="container">
  <h2>Key features</h2>
  <div class="row mx-lg-n3">
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="cloud"></i> Distributed</h6>
      {% filter hyphen %}
        Dynamic and scalable execution of data-driven workflows in
        a distributed environment such as the Cloud.
      {% endfilter %}
    </div>
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="rotate-cw"></i> Cyclic workflow graphs</h6>
      {% filter hyphen %}
        Support for cyclic workflow graphs without apriori runtime-time
        knowledge. Workflows are converted incrementally and on-demand to
        so-called process chains.
      {% endfilter %}
    </div>
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="clock"></i> Capability-based scheduling</h6>
      {% filter hyphen %}
        Optimized, capability-based process chain scheduling through
        parallelization and distribution to multiple agents (i.e. Steep
        instances running in the Cloud or in a cluster).
      {% endfilter %}
    </div>
  </div>
  <div class="row mx-lg-n3">
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="repeat"></i> Automatic failover</h6>
      {% filter hyphen %}
        Crashed workflows can be resumed without loss of
        information (even without a database).
      {% endfilter %}
    </div>
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="cpu"></i> Microservice integration</h6>
      {% filter hyphen %}
        Service metadata allows microservices (also called processing services)
        with almost arbitrary interfaces to be integrated/executed.
      {% endfilter %}
    </div>
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="git-pull-request"></i> Rule-based flow control</h6>
      {% filter hyphen %}
        A <em>rule-based system</em> allows you to modify generated process chains on
        the fly.
      {% endfilter %}
    </div>
  </div>
  <div class="row mx-lg-n3">
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="target"></i> Runtime environments</h6>
      {% filter hyphen %}
        Built-in runtime environments for executable microservices that are
        provided as binaries or Docker images.
      {% endfilter %}
    </div>
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="package"></i> Plugins</h6>
      {% filter hyphen %}
        Plugins let you modify the way agents collect process chain results
        or add custom runtime environments (e.g. Python, AWS Lambda, Web Processing Services).
      {% endfilter %}
    </div>
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="database"></i> Optional databases</h6>
      {% filter hyphen %}
        If you want your workflows to be persisted in a database over a long
        period of time, Steep offers support for
        <a href="https://www.mongodb.com/">MongoDB</a> and
        <a href="https://www.postgresql.org/">PostgreSQL</a>.
      {% endfilter %}
    </div>
  </div>
  <div class="row mx-lg-n3">
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="grid"></i> Kubernetes</h6>
      {% filter hyphen %}
        Tight integration with <a href="https://kubernetes.io/">Kubernetes</a>
        enables optimized resource usage through auto-scaling.
      {% endfilter %}
    </div>
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="server"></i> OpenStack</h6>
      {% filter hyphen %}
        The <a href="https://www.openstack.org/">OpenStack</a> Cloud Connector
        allows virtual machines hosting additional Steep agents to be created on demand.
      {% endfilter %}
    </div>
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="monitor"></i> HTTP and web interfaces</h6>
      {% filter hyphen %}
        Steep has a REST-like HTTP interface, a web-based user interface for
        monitoring and can provide metrics to
        <a href="https://prometheus.io/">Prometheus</a>.
      {% endfilter %}
    </div>
  </div>
  <div class="row mx-lg-n3">
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="trending-up"></i> Scalability</h6>
      {% filter hyphen %}
        Its asynchronous event-driven architecture allows Steep to
        scale horizontally across multiple machines in your cluster and to
        support complex dynamic workflows with thousands of tasks.
      {% endfilter %}
    </div>
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="truck"></i> Production-ready</h6>
      {% filter hyphen %}
        Steep is very reliable and has been used in production for many years
        to execute workflows from various domains. The source code has a very
        high test coverage.
      {% endfilter %}
    </div>
    <div class="col-md py-4 px-lg-3">
      <h6><i data-feather="github"></i> Open-Source</h6>
      {% filter hyphen %}
        Steep is free and open-source. It is released under the
        <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License,
        Version 2.0</a>. The code can be found on
        <a href="https://github.com/steep-wms/steep">GitHub</a>.
      {% endfilter %}
    </div>
  </div>
</div>

<div class="container">
{{ contents | safe }}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js/headroom.min.js"></script>
<script src="js/index.min.js"></script>

<script>
feather.replace()
</script>

</body>
</html>
