<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="author" content="Michel Krämer">
<meta name="description" content="Scientific Workflows in the Cloud">
<meta name="robots" content="index,follow">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">

<link rel="stylesheet" href="css/index.css">

<title>Steep Workflow Management System</title>

</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light" id="main-navbar">
<div class="container">
  <a class="navbar-brand" href="/"><img src="/images/steep-logo.svg" width="200"></a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#get-started">Get started</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#download">Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-us">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/steep-wms/steep">GitHub</a>
      </li>
    </ul>
  </div>
</div>
</nav>

<div id="welcome">
  <div class="container">
    <div class="welcome-row">
      <div class="welcome-left">
        <div class="slogan">Steep is a Scientific Workflow Management System made for the Cloud</div>
        <div class="buttons">
          <a href="#get-started"><button type="button" class="btn btn-primary btn-lg">Get started...</button></a>
        </div>
      </div>
      <div class="welcome-right">
        <img src="/images/workflow.svg">
      </div>
    </div>
  </div>
</div>

<div class="container">
{{ contents | safe }}
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js/headroom.min.js"></script>
<script src="js/index.min.js"></script>

</body>
</html>
